@model List<WEB.Pages.OrderPage.Models.CarOrder>

@{
    ViewData["Title"] = "Profile";
}

<style>
    .card {
        margin-top: 20px;
        overflow: hidden;
    }
</style>
<div class="container">
    <h1 class="text-center" style="color: gray;">Order History: </h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var ord in Model)
        {
            <div class="col">
                <div class="card shadow-lg h-100">
                    <img src="@ord.imagepath" alt="Car Photo" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title text-center">Order ID:@ord.order_id</h6>
                        <h5 class="card-title text-center">@ord.car_name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Seats: @ord.num_seats</li>
                            <li class="list-group-item">Fuel Consumption: @ord.fuel_name</li>
                            <li class="list-group-item">Drive: @ord.drive_name</li>
                            <li class="list-group-item">Transmission: @ord.transmission_name</li>
                            <li class="list-group-item">Start: @ord.start_day</li>
                            <li class="list-group-item">End: @ord.end_day</li>
                            <li class="list-group-item text-info fw-bold">Status: @ord.status_name</li>
                            @if (ord.end_day > DateTime.Now)
                            {
                                <b style="font-size: 17px;" class="list-group-item text-success">Active</b>
                            }
                            else
                            {
                                <b style="font-size: 17px;" class="list-group-item text-danger">Not Active</b>
                            }
                        </ul>

                    </div>
                    <div class="card-footer">
                        <span class="text-muted">Order price: $@ord.total_price</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
