@model WEB.Pages.Cars.Models.Cars

@try
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <img src="@Model.imagepath" class="card-img-top" alt="Car Photo">
                    <div class="card-body">
                        <h5 class="card-title">@Model.car_name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Seats: @Model.num_seats</li>
                            <li class="list-group-item">Fuel Consumption: @Model.fuel_name</li>
                            <li class="list-group-item">Drive: @Model.drive_name</li>
                            <li class="list-group-item">Transmission: @Model.transmission_name</li>
                            <li class="list-group-item">Body: @Model.body_name</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-muted">Price: $@Model.price</span>
                            <form action="/Car/PlaceOrder" method="post" onsubmit="return validateForm()">
                                <div class="form-group">
                                    <label for="startDateTime">Start DateTime:</label>
                                    <input type="datetime-local" id="startDateTime" name="startDateTime" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="endDateTime">End DateTime:</label>
                                    <input type="datetime-local" id="endDateTime" name="endDateTime" class="form-control" required>
                                </div>
                                <input type="hidden" name="carId" value="@Model.car_id">
                                <input type="hidden" name="price" value="@Model.price">
                                <button type="submit" class="btn btn-primary mt-2">Place Order</button>
                            </form>

                            <script>
                                function validateForm() {
                                    var startDateTime = new Date(document.getElementById("startDateTime").value);
                                    var endDateTime = new Date(document.getElementById("endDateTime").value);
                                    var currentDate = new Date();

                                    
                                    var timeDifference = endDateTime - startDateTime;

                                    
                                    var daysDifference = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));

                                    
                                    var maxRentalDuration = 30;

                                    if (endDateTime <= startDateTime) {
                                        alert("End DateTime must be greater than Start DateTime");
                                        return false;
                                    } else if (startDateTime < currentDate || endDateTime < currentDate) {
                                        alert("Start and End DateTime must be greater than the current date and time");
                                        return false;
                                    } else if (daysDifference > maxRentalDuration) {
                                        alert("The maximum rental duration is " + maxRentalDuration + " days");
                                        return false;
                                    }

                                    return true;
                                }
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .card {
            margin-top: 20px;
        }
    </style>
}
catch
{

}
