@model IEnumerable<WEB.Pages.Reservation.Reservation>

@{
    ViewData["Title"] = "Index";
}

<div class="f" style="margin-left: 200px; margin-right: 200px;">
    <b style="font-size: 40px">Data</b>
<p>
    <a asp-action="CreateRes">Create New</a>
</p>
    <table class="table table-striped table-bordered rounded custom-table" style="border-radius: 10px; overflow: hidden;">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.status_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_name)
            </td>
            <td>
                <a asp-action="EditRes" asp-route-id="@item.status_id">Edit</a> |
                <a asp-action="DeleteRes" asp-route-id="@item.status_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>